Repository myConsciousness/atproto.dart, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, website, at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, lex_annotation, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, test, documentation

rm
  bin/shared/config_example.dart
Labels: none

chore: fix header
  bin/shared/config_loader.dart
Labels: none

rm
  bin/shared/enhanced_error_handling.dart
  bin/shared/shared.dart
Labels: none

chore: fix examples
  README.md
  packages/bluesky/example/example.dart
Labels: bluesky

revert
  packages/bluesky/example/example.dart
Labels: bluesky

fix: broken links
  README.md
Labels: none

chore: version
  README.md
Labels: none

chore: fix docs
  website/docs/getting_started/install_package.md
  website/src/data/features.tsx
Labels: none

optional login hint
  packages/atproto_oauth/lib/src/oauth_client.dart
Labels: atproto_oauth

chore: Sync Lexicon Data
  lexicons/tools/ozone/moderation/queryEvents.json
Labels: none

chore: Update bluesky package to version 1.0.8
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
Labels: bluesky, documentation

chore: Sync Lexicon Data
  lexicons/com/atproto/temp/revokeAccountCredentials.json
Labels: none

chore: Sync Lexicon Data
  lexicons/app/bsky/bookmark/createBookmark.json
  lexicons/app/bsky/bookmark/defs.json
  lexicons/app/bsky/bookmark/deleteBookmark.json
  lexicons/app/bsky/bookmark/getBookmarks.json
  lexicons/app/bsky/feed/defs.json
Labels: none

feat: migrate from Melos to Dart pub workspaces
  .github/scripts/coverage.sh
  bin/shared/config.dart
  bin/shared/config_loader.dart
  bin/sync_lexicons.dart
  codecov.yaml
  melos.yaml
  packages/at_identifier/pubspec.yaml
  packages/at_uri/pubspec.yaml
  packages/at_uri/pubspec_overrides.yaml
  packages/atproto/pubspec.yaml
  packages/atproto/pubspec_overrides.yaml
  packages/atproto_core/pubspec.yaml
  packages/atproto_core/pubspec_overrides.yaml
  packages/atproto_oauth/pubspec.yaml
  packages/atproto_test/pubspec.yaml
  packages/atproto_test/pubspec_overrides.yaml
  packages/bluesky/pubspec.yaml
  packages/bluesky/pubspec_overrides.yaml
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_cli/pubspec_overrides.yaml
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/pubspec_overrides.yaml
  packages/did_plc/pubspec.yaml
  packages/did_plc/pubspec_overrides.yaml
  packages/lex_gen/pubspec.yaml
  packages/lexicon/pubspec.yaml
  packages/lexicon/pubspec_overrides.yaml
  packages/multiformats/pubspec.yaml
  packages/nsid/pubspec.yaml
  packages/xrpc/pubspec.yaml
  packages/xrpc/pubspec_overrides.yaml
  pubspec.yaml
  pubspec_overrides.yaml
Labels: at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, did_plc, atproto, bluesky_text, bluesky, bluesky_cli

chore: Add changelog entries for PR #2105 and #2107
  packages/atproto/CHANGELOG.md
  packages/bluesky/CHANGELOG.md
Labels: atproto, bluesky, documentation

chore: bump
  packages/atproto/pubspec.yaml
  packages/bluesky/pubspec.yaml
Labels: atproto, bluesky

feat: add `bookmark` accessor
  packages/bluesky/lib/src/bluesky.dart
Labels: bluesky

feat: Add Bookmark feature changelog entry for PR #2108
  packages/bluesky/CHANGELOG.md
Labels: bluesky, documentation

chore: Sync Lexicon Data
  lexicons/com/atproto/moderation/defs.json
  lexicons/tools/ozone/report/defs.json
Labels: none

chore: Update source files automatically
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/report/defs/reason_type.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/report/defs/reason_type.freezed.dart
  packages/bluesky/lib/tools_ozone_report_defs.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/com/atproto/moderation/defs.md
  website/docs/lexicons/tools/ozone/report/defs.md
Labels: lexicon, bluesky

fix: improve lexicon known values naming and resolve conflicts
  packages/atproto/lib/src/services/codegen/com/atproto/moderation/defs/reason_type.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor/defs/status_view_status.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed/generator/main_content_mode.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/getAccountTimeline/timeline_item_summary_event_type.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server/getConfig/viewer_config_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting/defs/option_manager_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting/upsertOption/main_manager_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team/addMember/main_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team/updateMember/main_role.dart
  packages/lex_gen/lib/src/services/object/lex_known_values.dart
  packages/lex_gen/lib/src/services/rule.dart
  pubspec.yaml
Labels: atproto, bluesky

refactor: simplify lexicon known values naming logic
  packages/atproto/lib/src/services/codegen/com/atproto/moderation/defs/reason_type.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor/status/main_status.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed/defs/generator_view_content_mode.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed/defs/interaction_event.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph/defs/list_purpose.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/report/defs/reason_type.dart
  packages/lex_gen/lib/src/services/object/lex_known_values.dart
  packages/lex_gen/lib/src/services/rule.dart
Labels: atproto, bluesky

feat: enhance lexicon known values with proper casing and fragment support
  packages/atproto/lib/src/services/codegen/com/atproto/moderation/defs/reason_type.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor/defs/status_view_status.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor/status/main_status.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed/defs/generator_view_content_mode.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed/defs/interaction_event.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed/generator/main_content_mode.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph/defs/list_purpose.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/subject_review_state.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/getAccountTimeline/timeline_item_summary_event_type.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/report/defs/reason_type.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server/getConfig/viewer_config_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting/defs/option_manager_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting/upsertOption/main_manager_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team/addMember/main_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team/defs/member_role.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team/updateMember/main_role.dart
  packages/bluesky/test/src/services/suite/app/bsky/graph_service_test.dart
  packages/lex_gen/lib/src/services/object/lex_known_values.dart
  packages/lex_gen/lib/src/services/rule.dart
Labels: atproto, bluesky, test

fix: update atproto moderation test to use new enum naming
  packages/atproto/test/src/services/suite/com/atproto/moderation_service_test.dart
Labels: atproto, test

docs: update changelogs for lexicon known values naming enhancement
  packages/atproto/CHANGELOG.md
  packages/bluesky/CHANGELOG.md
Labels: atproto, bluesky, documentation

fix: update moderation mock to use new enum naming
  packages/bluesky/test/src/moderation/suite/utils/mock.dart
Labels: bluesky, test

chore: bump package versions for lexicon known values enhancement
  packages/atproto/pubspec.yaml
  packages/bluesky/pubspec.yaml
Labels: atproto, bluesky

docs: update supported API matrix documentation
  bin/gen_supported_api_matrix.dart
  website/docs/supported_api.md
Labels: none

chore: Sync Lexicon Data
  lexicons/com/atproto/temp/dereferenceScope.json
  lexicons/tools/ozone/moderation/defs.json
  lexicons/tools/ozone/moderation/emitEvent.json
  lexicons/tools/ozone/moderation/getAccountTimeline.json
Labels: none

chore: Update source files automatically
  packages/atproto/lib/com_atproto_temp_dereferencescope.dart
  packages/atproto/lib/src/ids.g.dart
  packages/atproto/lib/src/nsids.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/dereferenceScope/input.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/dereferenceScope/input.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/dereferenceScope/input.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/dereferenceScope/output.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/dereferenceScope/output.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/dereferenceScope/output.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/bluesky/lib/com_atproto_temp_dereferencescope.dart
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/revoke_account_credentials_event.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/revoke_account_credentials_event.freezed.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/revoke_account_credentials_event.g.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/union_mod_event_view_detail_event.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/union_mod_event_view_detail_event.freezed.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/union_mod_event_view_event.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/defs/union_mod_event_view_event.freezed.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/emitEvent/union_main_event.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/emitEvent/union_main_event.freezed.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation/getAccountTimeline/timeline_item_summary_event_type.dart
  packages/bluesky/lib/tools_ozone_moderation_defs.dart
  packages/bluesky_cli/lib/src/commands/codegen/com/atproto/temp.dart
  packages/bluesky_cli/lib/src/commands/codegen/com/atproto/temp/dereference_scope.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/com/atproto/temp/dereferenceScope.md
  website/docs/lexicons/tools/ozone/moderation/defs.md
  website/docs/lexicons/tools/ozone/moderation/emitEvent.md
  website/docs/lexicons/tools/ozone/moderation/getAccountTimeline.md
  website/docs/supported_api.md
Labels: lexicon, atproto, bluesky, bluesky_cli

feat: Add OzoneTool client for comprehensive tools.ozone.* API support
  packages/bluesky/CHANGELOG.md
  packages/bluesky/README.md
  packages/bluesky/lib/ozone.dart
  packages/bluesky/lib/src/ozone_tool.dart
  packages/bluesky/pubspec.yaml
Labels: bluesky, documentation

chore: Update v1.0.11 changelog with automated code generation changes
  packages/bluesky/CHANGELOG.md
Labels: bluesky, documentation

feat: Bump atproto to v1.0.10 and update bluesky dependency
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/bluesky/pubspec.yaml
Labels: atproto, bluesky, documentation

feat: Bump atproto and bluesky to v1.1.0
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
Labels: atproto, bluesky, documentation

fix: Correct changelog structure for v1.1.0
  packages/atproto/CHANGELOG.md
  packages/bluesky/CHANGELOG.md
Labels: atproto, bluesky, documentation

feat: modernize GitHub issue templates with YAML format
  .github/ISSUE_TEMPLATE/00_bug.md
  .github/ISSUE_TEMPLATE/01_feature.md
  .github/ISSUE_TEMPLATE/02_showcase.md
  .github/ISSUE_TEMPLATE/03_question.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/showcase.yml
Labels: none

docs: improve DISCLAIMER.md with better formatting and clarity
  lexicons/DISCLAIMER.md
Labels: none

chore: cleanup unused files and optimize test configuration
  .github/scripts/check-release.sh
  .github/scripts/coverage.sh
  .github/workflows/test.yml
  codecov.yaml
  melos.yaml
  packages/atproto_oauth/test/atproto_oauth_test.dart
Labels: atproto_oauth, test

.github/labeler.yml:

examples:
- examples/**/*
website:
- packages/website/**/*

at_identifier:
- packages/at_identifier/**/*
nsid:
- packages/nsid/**/*
lexicon:
- packages/lexicon/**/*
at_uri:
- packages/at_uri/**/*
xrpc:
- packages/xrpc/**/*
multiformats:
- packages/multiformats/**/*
atproto_test:
- packages/atproto_test/**/*
atproto_oauth:
- packages/atproto_oauth/**/*
atproto_core:
- packages/atproto_core/**/*
lex_annotation:
- packages/lex_annotation/**/*
did_plc:
- packages/did_plc/**/*
atproto:
- packages/atproto/**/*
bluesky_text:
- packages/bluesky_text/**/*
bluesky:
- packages/bluesky/**/*
bluesky_cli:
- packages/bluesky_cli/**/*

test:
- packages/at_identifier/test/**/*.dart
- packages/nsid/test/**/*.dart
- packages/lexicon/test/**/*.dart
- packages/at_uri/test/**/*.dart
- packages/xrpc/test/**/*.dart
- packages/multiformats/test/**/*.dart
- packages/atproto_test/test/**/*.dart
- packages/atproto_oauth/test/**/*.dart
- packages/atproto_core/test/**/*.dart
- packages/lex_annotation/test/**/*.dart
- packages/did_plc/test/**/*.dart
- packages/atproto/test/**/*.dart
- packages/bluesky_text/test/**/*.dart
- packages/bluesky/test/**/*.dart
- packages/bluesky_cli/test/**/*.dart

documentation:
- packages/at_identifier/CHANGELOG.md
- packages/at_identifier/README.md
- packages/nsid/CHANGELOG.md
- packages/nsid/README.md
- packages/lexicon/CHANGELOG.md
- packages/lexicon/README.md
- packages/at_uri/CHANGELOG.md
- packages/at_uri/README.md
- packages/xrpc/CHANGELOG.md
- packages/xrpc/README.md
- packages/multiformats/CHANGELOG.md
- packages/multiformats/README.md
- packages/atproto_test/CHANGELOG.md
- packages/atproto_test/README.md
- packages/atproto_oauth/CHANGELOG.md
- packages/atproto_oauth/README.md
- packages/atproto_core/CHANGELOG.md
- packages/atproto_core/README.md
- packages/lex_annotation/CHANGELOG.md
- packages/lex_annotation/README.md
- packages/did_plc/CHANGELOG.md
- packages/did_plc/README.md
- packages/atproto/CHANGELOG.md
- packages/atproto/README.md
- packages/bluesky_text/CHANGELOG.md
- packages/bluesky_text/README.md
- packages/bluesky/CHANGELOG.md
- packages/bluesky/README.md
- packages/bluesky_cli/CHANGELOG.md
- packages/bluesky_cli/README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- SECURITY.md
- STYLEGUIDE.md
