Repository myConsciousness/atproto.dart, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, website, at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, lex_annotation, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, test, documentation

add VerificationPreference
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/services/entities/converter/preference_converter.dart
  packages/bluesky/lib/src/services/entities/preference.dart
  packages/bluesky/lib/src/services/entities/preference.freezed.dart
  packages/bluesky/lib/src/services/entities/verification_preference.dart
  packages/bluesky/lib/src/services/entities/verification_preference.freezed.dart
  packages/bluesky/lib/src/services/entities/verification_preference.g.dart
Labels: bluesky

fix test
  packages/bluesky/test/src/services/entities/actor_basic_test.dart
Labels: bluesky, test

update fromJson/toJson for preferences and fix test
  packages/bluesky/lib/src/services/entities/converter/preference_converter.dart
  packages/bluesky/lib/src/services/entities/verification_preference.dart
  packages/bluesky/lib/src/services/entities/verification_preference.freezed.dart
  packages/bluesky/lib/src/services/entities/verification_preference.g.dart
  packages/bluesky/test/src/services/suite/app/bsky/actor/getPreferences.json
Labels: bluesky

add VerificationPreference unit test
  packages/bluesky/test/services/entities/verification_preference_test.dart
Labels: bluesky, test

add readState and status to listConvos
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
Labels: bluesky

acceptConvo
  packages/bluesky/lib/src/services/types/chat/bsky/convo/acceptConvo/output.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/acceptConvo/output.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/acceptConvo/output.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
Labels: bluesky

add reactions to MessageView
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/message_view.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/message_view.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/message_view.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.g.dart
  packages/bluesky/test/services/entities/verification_preference_test.dart
  packages/bluesky/test/src/services/entities/actor_basic_test.dart
Labels: bluesky, test

missing import
  packages/bluesky/lib/chat_bsky_convo_defs.dart
Labels: bluesky

debug leaveConvo and acceptConvo
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
Labels: bluesky

logAcceptConvo
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/union/log.dart
Labels: bluesky

fix accpetConvo
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_accept_convo.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_accept_convo.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_accept_convo.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/union/log.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/union/log.freezed.dart
Labels: bluesky

add missing log event
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_accept_convo.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_add_reaction.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_add_reaction.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_add_reaction.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_mute_convo.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_mute_convo.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_mute_convo.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_read_message.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_read_message.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_read_message.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_remove_reaction.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_remove_reaction.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_remove_reaction.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_unmute_convo.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_unmute_convo.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/log_unmute_convo.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/message_view.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view_sender.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view_sender.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view_sender.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/union/log.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/union/log.freezed.dart
Labels: bluesky

addReaction
  packages/bluesky/lib/src/services/types/chat/bsky/convo/addReaction/output.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/addReaction/output.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/addReaction/output.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
Labels: bluesky

add missing export
  packages/bluesky/lib/chat_bsky_convo_defs.dart
Labels: bluesky

add removeAction
  packages/bluesky/lib/src/services/types/chat/bsky/convo/addReaction/output.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/reaction_view.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/removeReaction/output.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/removeReaction/output.freezed.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo/removeReaction/output.g.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
Labels: bluesky

debug UConvoMessageEmbedView fromJson
  packages/bluesky/lib/src/services/types/chat/bsky/convo/defs/union/message_embed_view.dart
Labels: bluesky

wip
  bin/gen/code_gen.dart
  bin/gen/fmt/lex_object_generator.dart
  bin/gen/object/lex_object.dart
  bin/gen/object/template.dart
  bin/gen/rule.dart
  bin/gen/utils.dart
Labels: none

add missing NotificationReason
  packages/bluesky/lib/src/services/constants/notification_reason.dart
  packages/bluesky/lib/src/services/entities/notification.g.dart
Labels: bluesky

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/notification/registerPush.json
  lexicons/tools/ozone/moderation/defs.json
  lexicons/tools/ozone/moderation/emitEvent.json
  lexicons/tools/ozone/moderation/queryEvents.json
  lexicons/tools/ozone/moderation/queryStatuses.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/notification/registerPush.md
  website/docs/lexicons/tools/ozone/moderation/defs.md
  website/docs/lexicons/tools/ozone/moderation/emitEvent.md
  website/docs/lexicons/tools/ozone/moderation/queryEvents.md
  website/docs/lexicons/tools/ozone/moderation/queryStatuses.md
Labels: lexicon

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/unspecced/defs.json
  lexicons/app/bsky/unspecced/getAgeAssuranceState.json
  lexicons/app/bsky/unspecced/initAgeAssurance.json
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/nsids.g.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/unspecced/defs.md
  website/docs/lexicons/app/bsky/unspecced/getAgeAssuranceState.md
  website/docs/lexicons/app/bsky/unspecced/initAgeAssurance.md
  website/docs/supported_api.md
Labels: lexicon, bluesky

wip
  bin/gen/lex_service_generator.dart
  packages/atproto/lib/src/services/types/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/types/com/atproto/identity_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation_service.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_xrpc_procedure_generator.dart
  packages/atproto/lib/src/services/types/com/atproto/identity_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/team_service.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_packages_generator.dart
  packages/atproto/lib/com_atproto_services.dart
  packages/bluesky/lib/app_bsky_services.dart
  packages/bluesky/lib/chat_bsky_services.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_label.freezed.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_source_list.freezed.dart
  packages/bluesky/lib/src/moderation/types/mute_words.dart
  packages/bluesky/lib/src/moderation/types/subjects/account.dart
  packages/bluesky/lib/src/moderation/types/subjects/feed_generator.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_feed_generator.freezed.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_notification.freezed.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_post.freezed.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_profile.freezed.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_user_list.freezed.dart
  packages/bluesky/lib/src/moderation/types/subjects/notification.dart
  packages/bluesky/lib/src/moderation/types/subjects/profile.dart
  packages/bluesky/lib/src/moderation/types/subjects/user_list.dart
  packages/bluesky/lib/src/services/service_context.dart
  packages/bluesky/lib/tools_ozone_services.dart
  packages/bluesky/test/src/moderation/suite/moderation_quote_posts_test.dart
  packages/bluesky/test/src/services/suite/app/bsky/actor_service_test.dart
Labels: atproto, bluesky, test

wip
  bin/gen/dart_type.dart
  bin/gen/object/lex_parameter.dart
  bin/gen/object/lex_service.dart
  packages/atproto/lib/atproto.dart
  packages/atproto/lib/src/services/session.dart
  packages/atproto/lib/src/services/types/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/types/com/atproto/repo_service.dart
  packages/bluesky/example/example.dart
  packages/bluesky/lib/atproto.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/verification_service.dart
  packages/bluesky/lib/src/services/utils/group_by.dart
  packages/bluesky/lib/src/services/utils/notifications_grouper.dart
  packages/bluesky/lib/src/services/utils/repo_commit_adaptor.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_xrpc_procedure_generator.dart
  bin/gen/lex_service_generator.dart
  bin/gen/object/lex_input.dart
  bin/gen/object/lex_service.dart
  bin/gen/object/lex_type.dart
  packages/atproto/lib/src/services/types/com/atproto/repo_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/video_service.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_xrpc_query_generator.dart
  bin/gen/object/lex_output.dart
  bin/gen/object/lex_service.dart
  packages/atproto/lib/src/services/types/com/atproto/sync_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/actor_service.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_property_generator.dart
  bin/gen/rule.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/getPreferences/output.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/getPreferences/output.freezed.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/getPreferences/output.g.dart
Labels: bluesky

wip
  bin/gen/fmt/lex_xrpc_procedure_generator.dart
  bin/gen/object/lex_input.dart
  bin/gen/object/lex_service.dart
  bin/gen/object/lex_type.dart
  packages/atproto/lib/src/services/types/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/types/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/types/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/types/com/atproto/server_service.dart
  packages/atproto/lib/src/services/types/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/types/com/atproto/temp_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/verification_service.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_xrpc_procedure_generator.dart
  bin/gen/object/lex_input.dart
  packages/bluesky/lib/src/services/types/tools/ozone/set_service.dart
Labels: bluesky

wip
  bin/gen/fmt/lex_property_generator.dart
  bin/gen/object/lex_service.dart
  packages/atproto/lib/src/services/types/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/types/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/types/com/atproto/label_service.dart
  packages/atproto/lib/src/services/types/com/atproto/lexicon_service.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/types/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/types/com/atproto/server_service.dart
  packages/atproto/lib/src/services/types/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/types/com/atproto/temp_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/types/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/queryStatuses/input.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/queryStatuses/input.freezed.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/queryStatuses/input.g.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/server_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/types/tools/ozone/verification_service.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_property_generator.dart
  bin/gen/fmt/lex_xrpc_procedure_generator.dart
  bin/gen/object/lex_input.dart
  bin/gen/object/lex_object.dart
  bin/gen/object/lex_output.dart
  bin/gen/object/lex_record.dart
  bin/gen/object/lex_service.dart
  bin/gen/rule.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor_service.dart
Labels: bluesky

wip
  packages/bluesky/lib/cardyb.dart
  packages/bluesky/lib/src/cardyb/api.dart
  packages/bluesky/lib/src/cardyb/link_preview.dart
  packages/bluesky/lib/src/cardyb/link_preview.freezed.dart
  packages/bluesky/lib/src/cardyb/link_preview.g.dart
Labels: bluesky

wip
  packages/bluesky/pubspec.yaml
  packages/bluesky_text/pubspec.yaml
Labels: bluesky_text, bluesky

wip
  packages/bluesky_text/lib/src/entities/byte_indices.dart
  packages/bluesky_text/lib/src/entities/entity.dart
  packages/bluesky_text/lib/src/entities/length_exceeded_entity.dart
  packages/bluesky_text/lib/src/entities/markdown/markdown_link_entity.dart
Labels: bluesky_text

wip
  packages/atproto/test/src/atproto_test.dart
  packages/atproto/test/src/services/constants/moderation_reason_type_test.dart
  packages/atproto/test/src/services/suite/com/atproto/identity_service_test.dart
  packages/atproto/test/src/services/suite/com/atproto/label_service_test.dart
  packages/atproto/test/src/services/suite/com/atproto/moderation_service_test.dart
  packages/atproto/test/src/services/suite/com/atproto/repo_service_test.dart
  packages/atproto/test/src/services/suite/com/atproto/server_service_test.dart
  packages/atproto/test/src/services/suite/com/atproto/service_suite.dart
  packages/atproto/test/src/services/suite/com/atproto/sync_service_test.dart
  packages/atproto/test/src/services/suite/com/atproto/temp_service_test.dart
Labels: atproto, test

wip
  packages/bluesky/lib/src/services/utils/grouped_notification.dart
  packages/bluesky/lib/src/services/utils/grouped_notifications.dart
Labels: bluesky

wip
  packages/lexicon/lib/src/types/converter/lex_xrpc_parameters_property_converter.dart
Labels: lexicon

wip
  packages/atproto_core/lib/src/converters/nsid_converter.dart
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/services/constants/content_label_visibility.dart
  packages/bluesky/lib/src/services/constants/feed_filter.dart
  packages/bluesky/lib/src/services/utils/actor_verification.dart
  packages/bluesky/lib/src/services/utils/actor_verification.freezed.dart
  packages/bluesky/lib/src/services/utils/actor_verification.g.dart
  packages/bluesky/lib/src/services/utils/verification_preference.dart
  packages/bluesky/lib/src/services/utils/verification_preference.freezed.dart
  packages/bluesky/lib/src/services/utils/verification_preference.g.dart
  packages/bluesky/lib/src/services/utils/verification_view.dart
  packages/bluesky/lib/src/services/utils/verification_view.freezed.dart
  packages/bluesky/lib/src/services/utils/verification_view.g.dart
  packages/bluesky/test/services/entities/verification_preference_test.dart
  packages/bluesky/test/src/bluesky_test.dart
  packages/bluesky/test/src/services/constants/content_label_visibility_test.dart
  packages/bluesky/test/src/services/constants/feed_filter_test.dart
Labels: atproto_core, bluesky, test

wip
  packages/bluesky_text/lib/src/entities/length_exceeded_entity.dart
Labels: bluesky_text

wip
  bin/gen/object/lex_known_values.dart
  bin/gen/object/lex_union.dart
  packages/atproto/lib/src/services/types/com/atproto/label/defs/label_value.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/defs/reason_type.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/defs/subject_type.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/defs/host_status.dart
  packages/atproto_core/lib/atproto_core.dart
  packages/atproto_core/lib/src/internals/lex_known_values_converter.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/defs/muted_word_target.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/defs/list_purpose.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/defs/subject_review_state.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/action_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/event_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/pattern_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/reason_type.dart
Labels: atproto_core, atproto, bluesky

.github/labeler.yml:

examples:
- examples/**/*
website:
- packages/website/**/*

at_identifier:
- packages/at_identifier/**/*
nsid:
- packages/nsid/**/*
lexicon:
- packages/lexicon/**/*
at_uri:
- packages/at_uri/**/*
xrpc:
- packages/xrpc/**/*
multiformats:
- packages/multiformats/**/*
atproto_test:
- packages/atproto_test/**/*
atproto_oauth:
- packages/atproto_oauth/**/*
atproto_core:
- packages/atproto_core/**/*
lex_annotation:
- packages/lex_annotation/**/*
did_plc:
- packages/did_plc/**/*
atproto:
- packages/atproto/**/*
bluesky_text:
- packages/bluesky_text/**/*
bluesky:
- packages/bluesky/**/*
bluesky_cli:
- packages/bluesky_cli/**/*

test:
- packages/at_identifier/test/**/*.dart
- packages/nsid/test/**/*.dart
- packages/lexicon/test/**/*.dart
- packages/at_uri/test/**/*.dart
- packages/xrpc/test/**/*.dart
- packages/multiformats/test/**/*.dart
- packages/atproto_test/test/**/*.dart
- packages/atproto_oauth/test/**/*.dart
- packages/atproto_core/test/**/*.dart
- packages/lex_annotation/test/**/*.dart
- packages/did_plc/test/**/*.dart
- packages/atproto/test/**/*.dart
- packages/bluesky_text/test/**/*.dart
- packages/bluesky/test/**/*.dart
- packages/bluesky_cli/test/**/*.dart

documentation:
- packages/at_identifier/CHANGELOG.md
- packages/at_identifier/README.md
- packages/nsid/CHANGELOG.md
- packages/nsid/README.md
- packages/lexicon/CHANGELOG.md
- packages/lexicon/README.md
- packages/at_uri/CHANGELOG.md
- packages/at_uri/README.md
- packages/xrpc/CHANGELOG.md
- packages/xrpc/README.md
- packages/multiformats/CHANGELOG.md
- packages/multiformats/README.md
- packages/atproto_test/CHANGELOG.md
- packages/atproto_test/README.md
- packages/atproto_oauth/CHANGELOG.md
- packages/atproto_oauth/README.md
- packages/atproto_core/CHANGELOG.md
- packages/atproto_core/README.md
- packages/lex_annotation/CHANGELOG.md
- packages/lex_annotation/README.md
- packages/did_plc/CHANGELOG.md
- packages/did_plc/README.md
- packages/atproto/CHANGELOG.md
- packages/atproto/README.md
- packages/bluesky_text/CHANGELOG.md
- packages/bluesky_text/README.md
- packages/bluesky/CHANGELOG.md
- packages/bluesky/README.md
- packages/bluesky_cli/CHANGELOG.md
- packages/bluesky_cli/README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- SECURITY.md
- STYLEGUIDE.md
