Repository myConsciousness/atproto.dart, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, website, at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, lex_annotation, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, test, documentation

.github/labeler.yml:

examples:
- examples/**/*
website:
- packages/website/**/*

at_identifier:
- packages/at_identifier/**/*
nsid:
- packages/nsid/**/*
lexicon:
- packages/lexicon/**/*
at_uri:
- packages/at_uri/**/*
xrpc:
- packages/xrpc/**/*
multiformats:
- packages/multiformats/**/*
atproto_test:
- packages/atproto_test/**/*
atproto_oauth:
- packages/atproto_oauth/**/*
atproto_core:
- packages/atproto_core/**/*
lex_annotation:
- packages/lex_annotation/**/*
did_plc:
- packages/did_plc/**/*
atproto:
- packages/atproto/**/*
bluesky_text:
- packages/bluesky_text/**/*
bluesky:
- packages/bluesky/**/*
bluesky_cli:
- packages/bluesky_cli/**/*

test:
- packages/at_identifier/test/**/*.dart
- packages/nsid/test/**/*.dart
- packages/lexicon/test/**/*.dart
- packages/at_uri/test/**/*.dart
- packages/xrpc/test/**/*.dart
- packages/multiformats/test/**/*.dart
- packages/atproto_test/test/**/*.dart
- packages/atproto_oauth/test/**/*.dart
- packages/atproto_core/test/**/*.dart
- packages/lex_annotation/test/**/*.dart
- packages/did_plc/test/**/*.dart
- packages/atproto/test/**/*.dart
- packages/bluesky_text/test/**/*.dart
- packages/bluesky/test/**/*.dart
- packages/bluesky_cli/test/**/*.dart

documentation:
- packages/at_identifier/CHANGELOG.md
- packages/at_identifier/README.md
- packages/nsid/CHANGELOG.md
- packages/nsid/README.md
- packages/lexicon/CHANGELOG.md
- packages/lexicon/README.md
- packages/at_uri/CHANGELOG.md
- packages/at_uri/README.md
- packages/xrpc/CHANGELOG.md
- packages/xrpc/README.md
- packages/multiformats/CHANGELOG.md
- packages/multiformats/README.md
- packages/atproto_test/CHANGELOG.md
- packages/atproto_test/README.md
- packages/atproto_oauth/CHANGELOG.md
- packages/atproto_oauth/README.md
- packages/atproto_core/CHANGELOG.md
- packages/atproto_core/README.md
- packages/lex_annotation/CHANGELOG.md
- packages/lex_annotation/README.md
- packages/did_plc/CHANGELOG.md
- packages/did_plc/README.md
- packages/atproto/CHANGELOG.md
- packages/atproto/README.md
- packages/bluesky_text/CHANGELOG.md
- packages/bluesky_text/README.md
- packages/bluesky/CHANGELOG.md
- packages/bluesky/README.md
- packages/bluesky_cli/CHANGELOG.md
- packages/bluesky_cli/README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- SECURITY.md
- STYLEGUIDE.md

feat: add cardyb endpoint
  packages/bluesky_cli/lib/src/command_runner.dart
  packages/bluesky_cli/lib/src/commands/cardyb_command.dart
Labels: bluesky_cli

fix: add type
  packages/bluesky_cli/lib/src/commands/cardyb_command.dart
Labels: bluesky_cli

refactor: Improved firehose conversion process
  packages/atproto/CHANGELOG.md
  packages/atproto/example/example.dart
  packages/atproto/lib/firehose.dart
  packages/atproto/lib/src/firehose/commit.dart
  packages/atproto/lib/src/firehose/commit.freezed.dart
  packages/atproto/lib/src/firehose/commit.g.dart
  packages/atproto/lib/src/firehose/repo_commit_adaptor.dart
  packages/atproto/lib/src/firehose/repo_op.dart
  packages/atproto/lib/src/firehose/repo_op.freezed.dart
  packages/atproto/lib/src/firehose/repo_op.g.dart
  packages/atproto/lib/src/firehose/sync_subscribe_repos_adaptor.dart
  packages/atproto/lib/src/firehose/utils.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label/defs/label.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label/defs/label.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/commit.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/commit.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/commit.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/repo_op.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/repo_op.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/repo_op.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/sync.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/sync.freezed.dart
  packages/atproto/lib/src/tools/adaptors/repo_blocks_adaptor.dart
  packages/atproto/lib/src/tools/adaptors/repo_commits_adaptor.dart
  packages/atproto/pubspec.yaml
  packages/atproto_core/lib/atproto_core.dart
  packages/atproto_core/lib/src/car_decoder.dart
  packages/atproto_core/lib/src/progress_status.dart
  packages/atproto_core/test/src/progress_status_test.dart
  packages/bluesky/CHANGELOG.md
  packages/bluesky/example/example.dart
  packages/bluesky/lib/src/tools/utils/repo_commit_handler.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/services/utils/repo_commit_handler_test.dart
  packages/lex_gen/lib/src/services/fmt/lex_property_generator.dart
  website/static/snippets/firehose.dart
Labels: atproto_core, atproto, bluesky, test, documentation

fix: add `const`
  packages/atproto/example/example.dart
  packages/bluesky/example/example.dart
  website/static/snippets/firehose.dart
Labels: atproto, bluesky

fix: `$unknown` should not overwrite known fields
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/src/services/codegen/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/lexicon_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto, bluesky, documentation

fix: aware of nullable elements
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/commit.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/commit.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/commit.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/repo_op.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/repo_op.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync/subscribeRepos/repo_op.g.dart
  packages/lex_gen/lib/src/services/fmt/lex_object_generator.dart
  packages/lex_gen/lib/src/services/fmt/lex_property_generator.dart
  packages/lex_gen/lib/src/services/fmt/lex_record_generator.dart
  packages/lex_gen/lib/src/services/fmt/lex_xrpc_procedure_generator.dart
  packages/lex_gen/lib/src/services/fmt/lex_xrpc_query_generator.dart
  packages/lex_gen/lib/src/services/fmt/lex_xrpc_subscription_generator.dart
  packages/lex_gen/lib/src/services/object/lex_property.dart
Labels: atproto

refactor: generate `AtUri` extension
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/services/codegen/at_uri_extension.dart
  packages/bluesky/lib/src/tools/extensions/at_uri.dart
  packages/bluesky/test/src/services/extensions/at_uri_extension_test.dart
  packages/lex_gen/lib/src/gen.dart
  packages/lex_gen/lib/src/services/lex_tools_generator.dart
  packages/lex_gen/lib/src/services/object/at_uri_extension.dart
  packages/lex_gen/lib/src/services/rule.dart
Labels: bluesky, test

fix: flutter analyze
  packages/bluesky/lib/src/tools/utils/repo_commit_handler.dart
  packages/bluesky/test/src/services/extensions/at_uri_extension_test.dart
Labels: bluesky, test

feat: `RepoCommitHandler` should be automatically generated
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/firehose.dart
  packages/bluesky/lib/src/services/codegen/repo_commit_handler.dart
  packages/bluesky/lib/src/tools/utils/repo_commit_create.dart
  packages/bluesky/lib/src/tools/utils/repo_commit_delete.dart
  packages/bluesky/lib/src/tools/utils/repo_commit_handler.dart
  packages/bluesky/lib/src/tools/utils/repo_commit_update.dart
  packages/lex_gen/lib/src/services/lex_tools_generator.dart
  packages/lex_gen/lib/src/services/object/repo_commit_handler.dart
Labels: bluesky, documentation

fix: optional args
  packages/bluesky/example/example.dart
  packages/bluesky/lib/src/services/codegen/repo_commit_handler.dart
  packages/lex_gen/lib/src/services/object/repo_commit_handler.dart
  website/static/snippets/firehose.dart
Labels: bluesky

chore: optimize sizes
  packages/at_identifier/README.md
  packages/at_uri/README.md
  packages/atproto/README.md
  packages/atproto_core/README.md
  packages/atproto_oauth/README.md
  packages/bluesky/README.md
  packages/bluesky_cli/README.md
  packages/bluesky_text/README.md
  packages/lexicon/README.md
  packages/multiformats/README.md
  packages/xrpc/README.md
Labels: at_identifier, lexicon, at_uri, xrpc, multiformats, atproto_oauth, atproto_core, atproto, bluesky_text, bluesky, bluesky_cli, documentation

use legacy versions
  packages/at_uri/pubspec.yaml
  packages/atproto/pubspec.yaml
  packages/atproto_core/pubspec.yaml
  packages/atproto_oauth/CHANGELOG.md
  packages/atproto_oauth/pubspec.yaml
  packages/bluesky/pubspec.yaml
  packages/bluesky_text/pubspec.yaml
  packages/lexicon/pubspec.yaml
  packages/xrpc/pubspec.yaml
Labels: lexicon, at_uri, xrpc, atproto_oauth, atproto_core, atproto, bluesky_text, bluesky, documentation

chore: fix version suffix
  packages/atproto/pubspec.yaml
Labels: atproto

chore: fix sdk constraint to `">=3.8.0 <4.0.0"`
  README.md
  packages/at_identifier/CHANGELOG.md
  packages/at_identifier/pubspec.yaml
  packages/at_uri/CHANGELOG.md
  packages/at_uri/pubspec.yaml
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/pubspec.yaml
  packages/atproto_oauth/CHANGELOG.md
  packages/atproto_oauth/pubspec.yaml
  packages/atproto_test/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/pubspec.yaml
  packages/did_plc/pubspec.yaml
  packages/lex_annotation/pubspec.yaml
  packages/lex_gen/pubspec.yaml
  packages/lex_gen/pubspec_overrides.yaml
  packages/lexicon/CHANGELOG.md
  packages/lexicon/pubspec.yaml
  packages/multiformats/CHANGELOG.md
  packages/multiformats/pubspec.yaml
  packages/nsid/CHANGELOG.md
  packages/nsid/pubspec.yaml
  packages/xrpc/CHANGELOG.md
  packages/xrpc/pubspec.yaml
  pubspec.yaml
  website/docs/getting_started/install_package.md
  website/pubspec.yaml
Labels: at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, lex_annotation, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, documentation

chore: Sync Lexicon Data
  lexicons/com/atproto/temp/checkHandleAvailability.json
Labels: none

chore: Update source files automatically
  packages/atproto/lib/com_atproto_temp_checkhandleavailability.dart
  packages/atproto/lib/src/ids.g.dart
  packages/atproto/lib/src/nsids.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/input.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/input.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/input.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/output.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/output.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/output.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/result_available.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/result_available.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/result_available.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/result_unavailable.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/result_unavailable.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/result_unavailable.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/suggestion.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/suggestion.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/suggestion.g.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/union_main_result.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp/checkHandleAvailability/union_main_result.freezed.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/bluesky/lib/com_atproto_temp_checkhandleavailability.dart
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/nsids.g.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced/checkHandleAvailability/input.g.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced/checkHandleAvailability/output.freezed.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced/checkHandleAvailability/output.g.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced/checkHandleAvailability/union_main_result.freezed.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/unspecced.dart
  packages/bluesky_cli/lib/src/commands/codegen/com/atproto/temp/check_handle_availability.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/com/atproto/temp/checkHandleAvailability.md
  website/docs/supported_api.md
Labels: lexicon, atproto, bluesky, bluesky_cli

chore: Update generated source files
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
Labels: atproto, bluesky, documentation

update notifications serialization, missing reasons
  packages/bluesky/lib/src/services/constants/notification_reason.dart
  packages/bluesky/lib/src/services/entities/notification.dart
  packages/bluesky/lib/src/services/entities/notification.freezed.dart
  packages/bluesky/lib/src/services/entities/notification.g.dart
Labels: bluesky

remove required from notification
  packages/bluesky/lib/src/services/entities/notification.dart
  packages/bluesky/lib/src/services/entities/notification.freezed.dart
  packages/bluesky/pubspec.yaml
Labels: bluesky

bulletproof notifications
  packages/bluesky/lib/src/services/constants/notification_reason.dart
  packages/bluesky/lib/src/services/entities/notification.dart
  packages/bluesky/lib/src/services/entities/notification.freezed.dart
  packages/bluesky/lib/src/services/entities/notification.g.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/services/notification_bulletproof_test.dart
  packages/bluesky/test/src/services/notification_robustness_test.dart
  packages/bluesky/test/src/services/notification_service_robustness_test.dart
Labels: bluesky, test

chore: Sync Lexicon Data
  lexicons/app/bsky/graph/getListsWithMembership.json
  lexicons/app/bsky/graph/getStarterPacksWithMembership.json
  lexicons/tools/ozone/moderation/defs.json
  lexicons/tools/ozone/moderation/getAccountTimeline.json
Labels: none

refactor: lightweight
  packages/atproto/lib/src/services/codegen/com/atproto/lexicon_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto, bluesky

chore: ignore: unused_field
  packages/atproto/lib/src/services/codegen/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/lexicon_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/pubspec.yaml
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto, bluesky_text, bluesky, bluesky_cli, documentation

chore: add changelog
  packages/atproto/CHANGELOG.md
  packages/bluesky/CHANGELOG.md
Labels: atproto, bluesky, documentation

feat: gen api functions
  packages/atproto/lib/src/services/codegen/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto, bluesky

fix: flutter analyze
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/atproto_core/lib/src/clients/service_context.dart
  packages/atproto_core/lib/src/internals/utils.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/lex_gen/lib/src/services/object/lex_parameter.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto_core, atproto, bluesky

refactor: simplify structures
  packages/atproto/lib/src/atproto.dart
  packages/atproto/lib/src/services/codegen/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/lexicon_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/atproto/lib/src/services/service_context.dart
  packages/atproto_core/lib/src/clients/service_context.dart
  packages/bluesky/lib/src/bluesky.dart
  packages/bluesky/lib/src/bluesky_chat.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/bluesky/lib/src/services/service_context.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto_core, atproto, bluesky

refactor: simplify structures
  packages/atproto/lib/src/atproto.dart
  packages/atproto/lib/src/services/codegen/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/atproto/lib/src/services/session.dart
  packages/atproto/test/src/services/suite/com/atproto/service_suite.dart
  packages/atproto_core/lib/src/clients/service_context.dart
  packages/atproto_test/lib/src/service_runner.dart
  packages/bluesky/lib/src/bluesky.dart
  packages/bluesky/lib/src/bluesky_chat.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/bluesky/test/src/services/suite/app/bsky/service_suite.dart
  packages/bluesky/test/src/services/suite/chat/bsky/service_suite.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto_test, atproto_core, atproto, bluesky, test

feat: expose ServiceContext
  packages/atproto/lib/core.dart
Labels: atproto

refactor: remove empty body
  melos.yaml
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto, bluesky

refactor: fix import
  packages/atproto/lib/src/services/session.dart
Labels: atproto

chore: bump
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
Labels: atproto_core, atproto, bluesky, documentation

fix: expose base library
  packages/bluesky/lib/com_atproto_services.dart
  packages/lex_gen/lib/src/services/lex_service_generator.dart
Labels: bluesky

chore: fix pub scores
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/lib/atproto_core.dart
  packages/atproto_core/lib/src/types/jwt.dart
  packages/atproto_core/lib/src/types/jwt.freezed.dart
  packages/atproto_core/lib/src/types/jwt.g.dart
  packages/atproto_core/lib/src/types/oauth_session.dart
  packages/atproto_core/lib/src/types/session.dart
  packages/atproto_core/lib/src/utils/jwt_decoder.dart
  packages/atproto_core/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/README.md
  packages/bluesky/lib/src/tools/utils/grouped_notification.dart
  packages/bluesky/pubspec.yaml
  website/docs/packages/bluesky.md
Labels: atproto_core, atproto, bluesky, documentation

fix: WASM compatibility
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/lib/src/clients/challenge.dart
  packages/atproto_core/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
Labels: atproto_core, atproto, bluesky, documentation

chore: base services
  melos.yaml
  packages/atproto/lib/src/services/codegen/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/label_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/lexicon_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/moderation_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/server_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/codegen/com/atproto/temp_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/labeler_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/codegen/app/bsky/video_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/codegen/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/hosting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/server_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/signature_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/team_service.dart
  packages/bluesky/lib/src/services/codegen/tools/ozone/verification_service.dart
  packages/lex_gen/lib/src/services/object/lex_service.dart
Labels: atproto, bluesky

test: connect 5 seconds
  packages/xrpc/test/src/xrpc/xrpc_test.dart
Labels: xrpc, test

fix: remove upload coverage
  .github/workflows/test.yml
Labels: none

docs: fix supported api
  bin/gen_supported_api_matrix.dart
  website/docs/supported_api.md
Labels: none

rm
  bin/config/script_config_development.json
  bin/config/script_config_production.json
Labels: none
