Repository myConsciousness/atproto.dart, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, website, at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, lex_annotation, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, test, documentation

wip
  melos.yaml
  packages/bluesky/lib/src/services/types/app/bsky/embed/external/external.dart
  packages/bluesky/lib/src/services/types/app/bsky/embed/images/image.dart
  packages/bluesky/lib/src/services/types/app/bsky/embed/video/main.dart
  packages/bluesky/lib/src/services/types/app/bsky/video/defs/job_status.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/defs/union_subject_view_profile.dart
  packages/bluesky/lib/src/services/types/tools/ozone/verification/defs/union_verification_view_issuer_profile.dart
  packages/bluesky/lib/src/services/types/tools/ozone/verification/defs/union_verification_view_subject_profile.dart
Labels: bluesky

wip
  packages/bluesky/example/example.dart
  packages/bluesky/lib/src/moderation/types/mute_words.dart
  packages/bluesky/test/src/services/extensions/strong_ref_extension_test.dart
Labels: bluesky, test

wip
  bin/gen/rule.dart
  packages/atproto/lib/src/services/types/com/atproto/admin/getSubjectStatus/union_main_subject.dart
  packages/atproto/lib/src/services/types/com/atproto/admin/updateSubjectStatus/union_main_subject.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/createReport/union_main_subject.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/status/union_main_embed.dart
  packages/bluesky/lib/src/services/types/app/bsky/embed/recordWithMedia/main.dart
  packages/bluesky/lib/src/services/types/app/bsky/embed/recordWithMedia/union_main_media.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed/defs/generator_view.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed/generator/main.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed/post/main.dart
  packages/bluesky/lib/src/services/types/app/bsky/feed/post/union_main_embed.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/defs/list_view.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/list/main.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/starterpack/main.dart
Labels: atproto, bluesky

wip
  packages/bluesky/example/example.dart
Labels: bluesky

wip
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_block_other.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_blocked_by.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_blocking.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_hidden.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_label.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_mute_word.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_muted.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_source.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_source_labeler.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_source_list.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_cause_source_user.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_opts.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_prefs.dart
  packages/bluesky/lib/src/moderation/types/behaviors/moderation_prefs_labeler.dart
  packages/bluesky/lib/src/moderation/types/interpreted_label_value_definition.dart
  packages/bluesky/lib/src/moderation/types/mod_object.dart
  packages/bluesky/lib/src/moderation/types/moderation_ui.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_feed_generator.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_notification.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_post.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_profile.dart
  packages/bluesky/lib/src/moderation/types/subjects/moderation_subject_user_list.dart
Labels: bluesky

wip
  packages/bluesky/lib/src/moderation/types/mute_words.dart
  packages/bluesky/test/src/services/extensions/blob_extension_test.dart
  packages/bluesky/test/src/services/utils/notifications_grouper_test.dart
Labels: bluesky, test

wip
  packages/bluesky/lib/src/services/utils/notifications_grouper.dart
Labels: bluesky

wip
  packages/atproto_core/lib/src/types/blob_ref.dart
Labels: atproto_core

wip
  bin/gen/object/lex_known_values.dart
  bin/gen/object/utils.dart
  packages/atproto/lib/src/services/types/com/atproto/label/defs/label_value.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/defs/reason_type.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/defs/subject_type.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/defs/host_status.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/defs/muted_word_target.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/defs/list_purpose.dart
  packages/bluesky/lib/src/services/types/app/bsky/unspecced/getPostThreadV2/output.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/defs/subject_review_state.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/queryEvents/input.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/action_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/event_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/pattern_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/reason_type.dart
Labels: atproto, bluesky

wip
  bin/gen/object/lex_known_values.dart
  packages/atproto/lib/src/services/types/com/atproto/label/defs/label_value.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/defs/reason_type.dart
  packages/atproto/lib/src/services/types/com/atproto/moderation/defs/subject_type.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/defs/host_status.dart
  packages/bluesky/lib/src/services/types/app/bsky/actor/defs/muted_word_target.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/defs/list_purpose.dart
  packages/bluesky/lib/src/services/types/tools/ozone/moderation/defs/subject_review_state.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/action_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/event_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/pattern_type.dart
  packages/bluesky/lib/src/services/types/tools/ozone/safelink/defs/reason_type.dart
Labels: atproto, bluesky

wip
  bin/gen/fmt/lex_known_values_generator.dart
  bin/gen/lex_type_generator.dart
  bin/gen/object/lex_input.dart
  bin/gen/object/lex_known_values.dart
  bin/gen/object/lex_message.dart
  bin/gen/object/lex_object.dart
  bin/gen/object/lex_output.dart
  bin/gen/object/lex_record.dart
  bin/gen/object/lex_type.dart
  bin/gen/object/lex_union.dart
  bin/gen/rule.dart
Labels: none

wip
  bin/gen/dart_type.dart
  bin/gen/object/lex_type.dart
Labels: none

wip
  bin/gen/object/lex_service.dart
  packages/atproto/lib/src/services/types/com/atproto/repo_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/video_service.dart
Labels: atproto, bluesky

wip
  packages/atproto/test/src/services/suite/com/atproto/repo_service_test.dart
Labels: atproto, test

bump
  packages/at_identifier/pubspec.yaml
  packages/at_uri/lib/src/at_uri.dart
  packages/at_uri/pubspec.yaml
  packages/atproto/pubspec.yaml
  packages/atproto_core/pubspec.yaml
  packages/bluesky/pubspec.yaml
  packages/bluesky_text/pubspec.yaml
  packages/lexicon/pubspec.yaml
  packages/multiformats/pubspec.yaml
  packages/nsid/pubspec.yaml
  packages/xrpc/pubspec.yaml
  pubspec.yaml
  website/static/snippets/atproto_and_bluesky.dart
  website/static/snippets/bluesky_text.dart
Labels: at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_core, atproto, bluesky_text, bluesky

bump
  packages/bluesky_text/pubspec.yaml
Labels: bluesky_text

wip
  bin/gen/object/lex_object.dart
  packages/atproto/example/example.dart
  packages/atproto/lib/src/services/types/com/atproto/label/subscribeLabels/info.dart
  packages/atproto/lib/src/services/types/com/atproto/label/subscribeLabels/labels.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/subscribeRepos/account.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/subscribeRepos/commit.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/subscribeRepos/identity.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/subscribeRepos/info.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/subscribeRepos/repo_op.dart
  packages/atproto/lib/src/services/types/com/atproto/sync/subscribeRepos/sync.dart
Labels: atproto

wip
  packages/bluesky/example/example.dart
  packages/bluesky/lib/src/services/extensions/notifications_extension.dart
Labels: bluesky

wip
  packages/lexicon/pubspec.yaml
  pubspec.yaml
  pubspec_overrides.yaml
Labels: lexicon

wip
  bin/gen/fmt/lex_property_generator.dart
  packages/bluesky/lib/src/services/tools/ozone/hosting_service.dart
Labels: bluesky

wip
  bin/gen/object/utils.dart
  packages/atproto/lib/src/services/com/atproto/server/getAccountInviteCodes/input.dart
  packages/bluesky/lib/src/services/app/bsky/actor/defs/feed_view_pref.dart
  packages/bluesky/lib/src/services/app/bsky/actor/defs/verification_prefs.dart
  packages/bluesky/lib/src/services/app/bsky/feed/getAuthorFeed/input.dart
  packages/bluesky/lib/src/services/app/bsky/graph/getSuggestedFollowsByActor/output.dart
  packages/bluesky/lib/src/services/app/bsky/labeler/getServices/input.dart
  packages/bluesky/lib/src/services/app/bsky/unspecced/getPostThreadOtherV2/input.dart
  packages/bluesky/lib/src/services/app/bsky/unspecced/getPostThreadV2/input.dart
  packages/bluesky/lib/src/services/tools/ozone/moderation/queryEvents/input.dart
Labels: atproto, bluesky

wip
  bin/gen/object/lex_property.dart
  packages/atproto/lib/src/services/com/atproto/server/createInviteCodes/input.dart
  packages/atproto/lib/src/services/com/atproto/server/createInviteCodes/input.freezed.dart
  packages/bluesky/lib/src/services/app/bsky/actor/defs/adult_content_pref.dart
  packages/bluesky/lib/src/services/app/bsky/actor/defs/adult_content_pref.freezed.dart
  packages/bluesky/lib/src/services/app/bsky/actor/defs/nux.dart
  packages/bluesky/lib/src/services/app/bsky/actor/defs/nux.freezed.dart
Labels: atproto, bluesky

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/notification/unregisterPush.json
  lexicons/app/bsky/unspecced/initAgeAssurance.json
  lexicons/tools/ozone/moderation/emitEvent.json
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/nsids.g.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/notification/unregisterPush.md
  website/docs/lexicons/tools/ozone/moderation/emitEvent.md
  website/docs/supported_api.md
Labels: lexicon, bluesky

#2046
  packages/atproto/lib/com_atproto_services.dart
  packages/atproto/lib/src/services/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/com/atproto/server_service.dart
  packages/atproto/lib/src/services/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/com/atproto/temp_service.dart
  packages/bluesky/lib/app_bsky_notification_unregisterpush.dart
  packages/bluesky/lib/app_bsky_services.dart
  packages/bluesky/lib/chat_bsky_services.dart
  packages/bluesky/lib/src/services/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/app/bsky/notification/unregisterPush/input.dart
  packages/bluesky/lib/src/services/app/bsky/notification/unregisterPush/input.freezed.dart
  packages/bluesky/lib/src/services/app/bsky/notification/unregisterPush/input.g.dart
  packages/bluesky/lib/src/services/app/bsky/notification/unregisterPush/main_platform.dart
  packages/bluesky/lib/src/services/app/bsky/notification/unregisterPush/main_platform.freezed.dart
  packages/bluesky/lib/src/services/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/tools/ozone/moderation/emitEvent/input.dart
  packages/bluesky/lib/src/services/tools/ozone/moderation/emitEvent/input.freezed.dart
  packages/bluesky/lib/src/services/tools/ozone/moderation/emitEvent/input.g.dart
  packages/bluesky/lib/src/services/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/tools/ozone/team_service.dart
Labels: atproto, bluesky

feat: add workflow to generate codes
  .github/workflows/generate_codes.yaml
  .github/workflows/sync_lexicons.yml
Labels: none

chore: Sync Lexicon Data
  lexicons/app/bsky/unspecced/checkHandleAvailability.json
Labels: none

fix: fix workflow
  .github/workflows/generate_codes.yml
Labels: none

chore: Update source files automatically
  packages/atproto/lib/com_atproto_services.dart
  packages/atproto/lib/src/services/com/atproto/admin_service.dart
  packages/atproto/lib/src/services/com/atproto/identity_service.dart
  packages/atproto/lib/src/services/com/atproto/repo_service.dart
  packages/atproto/lib/src/services/com/atproto/server_service.dart
  packages/atproto/lib/src/services/com/atproto/sync_service.dart
  packages/atproto/lib/src/services/com/atproto/temp_service.dart
  packages/bluesky/lib/app_bsky_services.dart
  packages/bluesky/lib/chat_bsky_services.dart
  packages/bluesky/lib/src/services/app/bsky/actor_service.dart
  packages/bluesky/lib/src/services/app/bsky/feed_service.dart
  packages/bluesky/lib/src/services/app/bsky/graph_service.dart
  packages/bluesky/lib/src/services/app/bsky/notification_service.dart
  packages/bluesky/lib/src/services/app/bsky/unspecced_service.dart
  packages/bluesky/lib/src/services/chat/bsky/actor_service.dart
  packages/bluesky/lib/src/services/chat/bsky/convo_service.dart
  packages/bluesky/lib/src/services/chat/bsky/moderation_service.dart
  packages/bluesky/lib/src/services/tools/ozone/communication_service.dart
  packages/bluesky/lib/src/services/tools/ozone/moderation_service.dart
  packages/bluesky/lib/src/services/tools/ozone/safelink_service.dart
  packages/bluesky/lib/src/services/tools/ozone/set_service.dart
  packages/bluesky/lib/src/services/tools/ozone/setting_service.dart
  packages/bluesky/lib/src/services/tools/ozone/team_service.dart
  packages/bluesky/lib/tools_ozone_services.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/unspecced/checkHandleAvailability.md
  website/docs/supported_api.md
Labels: lexicon, atproto, bluesky

chore: prepare v1.0.0
  packages/at_identifier/CHANGELOG.md
  packages/at_uri/CHANGELOG.md
  packages/atproto/CHANGELOG.md
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/pubspec.yaml
  packages/atproto_oauth/CHANGELOG.md
  packages/atproto_oauth/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky_text/CHANGELOG.md
  packages/lexicon/CHANGELOG.md
  packages/multiformats/CHANGELOG.md
  packages/nsid/CHANGELOG.md
  packages/xrpc/CHANGELOG.md
Labels: at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_oauth, atproto_core, atproto, bluesky_text, bluesky, documentation

refactor: dart format
  website/static/snippets/atproto_and_bluesky.dart
  website/static/snippets/bluesky_text.dart
  website/static/snippets/post_to_bluesky.dart
  website/static/snippets/retry.dart
Labels: none

chore: lex_gen
  packages/lex_gen/pubspec.yaml
  packages/lex_gen/pubspec_overrides.yaml
Labels: none

refactor
  pubspec.yaml
  pubspec_overrides.yaml
Labels: none

fix: fix paths
  pubspec_overrides.yaml
Labels: none

fix: fix package names
  pubspec_overrides.yaml
Labels: none

chore: Sync Lexicon Data
  lexicons/app/bsky/unspecced/initAgeAssurance.json
Labels: none

chore: Update source files automatically
  packages/lexicon/lib/src/lexicons.g.dart
Labels: lexicon

chore: change conditions
  .github/workflows/generate_codes.yml
Labels: none

chore: fix command names
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/actor/profile.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/actor/status.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/feed/generator.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/feed/like.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/feed/post.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/feed/postgate.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/feed/repost.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/feed/threadgate.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/block.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/follow.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/list.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/listblock.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/listitem.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/starterpack.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/graph/verification.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/labeler/service.dart
  packages/bluesky_cli/lib/src/commands/codegen/app/bsky/notification/declaration.dart
  packages/bluesky_cli/lib/src/commands/codegen/chat/bsky/actor/declaration.dart
  packages/bluesky_cli/lib/src/commands/codegen/com/atproto/lexicon/schema.dart
  packages/lex_gen/lib/src/commands/types/lex_command.dart
Labels: bluesky_cli

chore: refactor docs
  .github/workflows/generate_codes.yml
  README.md
Labels: none

chore: bump freezed
  packages/atproto/pubspec.yaml
  packages/atproto_core/pubspec.yaml
  packages/atproto_oauth/pubspec.yaml
  packages/bluesky/pubspec.yaml
  packages/bluesky_text/pubspec.yaml
  packages/did_plc/pubspec.yaml
  packages/lex_gen/lib/src/services/fmt/lex_known_values_generator.dart
  packages/lex_gen/pubspec_overrides.yaml
  packages/lexicon/pubspec.yaml
  packages/xrpc/pubspec.yaml
Labels: lexicon, xrpc, atproto_oauth, atproto_core, did_plc, atproto, bluesky_text, bluesky

.github/labeler.yml:

examples:
- examples/**/*
website:
- packages/website/**/*

at_identifier:
- packages/at_identifier/**/*
nsid:
- packages/nsid/**/*
lexicon:
- packages/lexicon/**/*
at_uri:
- packages/at_uri/**/*
xrpc:
- packages/xrpc/**/*
multiformats:
- packages/multiformats/**/*
atproto_test:
- packages/atproto_test/**/*
atproto_oauth:
- packages/atproto_oauth/**/*
atproto_core:
- packages/atproto_core/**/*
lex_annotation:
- packages/lex_annotation/**/*
did_plc:
- packages/did_plc/**/*
atproto:
- packages/atproto/**/*
bluesky_text:
- packages/bluesky_text/**/*
bluesky:
- packages/bluesky/**/*
bluesky_cli:
- packages/bluesky_cli/**/*

test:
- packages/at_identifier/test/**/*.dart
- packages/nsid/test/**/*.dart
- packages/lexicon/test/**/*.dart
- packages/at_uri/test/**/*.dart
- packages/xrpc/test/**/*.dart
- packages/multiformats/test/**/*.dart
- packages/atproto_test/test/**/*.dart
- packages/atproto_oauth/test/**/*.dart
- packages/atproto_core/test/**/*.dart
- packages/lex_annotation/test/**/*.dart
- packages/did_plc/test/**/*.dart
- packages/atproto/test/**/*.dart
- packages/bluesky_text/test/**/*.dart
- packages/bluesky/test/**/*.dart
- packages/bluesky_cli/test/**/*.dart

documentation:
- packages/at_identifier/CHANGELOG.md
- packages/at_identifier/README.md
- packages/nsid/CHANGELOG.md
- packages/nsid/README.md
- packages/lexicon/CHANGELOG.md
- packages/lexicon/README.md
- packages/at_uri/CHANGELOG.md
- packages/at_uri/README.md
- packages/xrpc/CHANGELOG.md
- packages/xrpc/README.md
- packages/multiformats/CHANGELOG.md
- packages/multiformats/README.md
- packages/atproto_test/CHANGELOG.md
- packages/atproto_test/README.md
- packages/atproto_oauth/CHANGELOG.md
- packages/atproto_oauth/README.md
- packages/atproto_core/CHANGELOG.md
- packages/atproto_core/README.md
- packages/lex_annotation/CHANGELOG.md
- packages/lex_annotation/README.md
- packages/did_plc/CHANGELOG.md
- packages/did_plc/README.md
- packages/atproto/CHANGELOG.md
- packages/atproto/README.md
- packages/bluesky_text/CHANGELOG.md
- packages/bluesky_text/README.md
- packages/bluesky/CHANGELOG.md
- packages/bluesky/README.md
- packages/bluesky_cli/CHANGELOG.md
- packages/bluesky_cli/README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- SECURITY.md
- STYLEGUIDE.md
