Repository myConsciousness/atproto.dart, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, website, at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, lex_annotation, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, test, documentation

.github/labeler.yml:

examples:
- examples/**/*
website:
- packages/website/**/*

at_identifier:
- packages/at_identifier/**/*
nsid:
- packages/nsid/**/*
lexicon:
- packages/lexicon/**/*
at_uri:
- packages/at_uri/**/*
xrpc:
- packages/xrpc/**/*
multiformats:
- packages/multiformats/**/*
atproto_test:
- packages/atproto_test/**/*
atproto_oauth:
- packages/atproto_oauth/**/*
atproto_core:
- packages/atproto_core/**/*
lex_annotation:
- packages/lex_annotation/**/*
did_plc:
- packages/did_plc/**/*
atproto:
- packages/atproto/**/*
bluesky_text:
- packages/bluesky_text/**/*
bluesky:
- packages/bluesky/**/*
bluesky_cli:
- packages/bluesky_cli/**/*

test:
- packages/at_identifier/test/**/*.dart
- packages/nsid/test/**/*.dart
- packages/lexicon/test/**/*.dart
- packages/at_uri/test/**/*.dart
- packages/xrpc/test/**/*.dart
- packages/multiformats/test/**/*.dart
- packages/atproto_test/test/**/*.dart
- packages/atproto_oauth/test/**/*.dart
- packages/atproto_core/test/**/*.dart
- packages/lex_annotation/test/**/*.dart
- packages/did_plc/test/**/*.dart
- packages/atproto/test/**/*.dart
- packages/bluesky_text/test/**/*.dart
- packages/bluesky/test/**/*.dart
- packages/bluesky_cli/test/**/*.dart

documentation:
- packages/at_identifier/CHANGELOG.md
- packages/at_identifier/README.md
- packages/nsid/CHANGELOG.md
- packages/nsid/README.md
- packages/lexicon/CHANGELOG.md
- packages/lexicon/README.md
- packages/at_uri/CHANGELOG.md
- packages/at_uri/README.md
- packages/xrpc/CHANGELOG.md
- packages/xrpc/README.md
- packages/multiformats/CHANGELOG.md
- packages/multiformats/README.md
- packages/atproto_test/CHANGELOG.md
- packages/atproto_test/README.md
- packages/atproto_oauth/CHANGELOG.md
- packages/atproto_oauth/README.md
- packages/atproto_core/CHANGELOG.md
- packages/atproto_core/README.md
- packages/lex_annotation/CHANGELOG.md
- packages/lex_annotation/README.md
- packages/did_plc/CHANGELOG.md
- packages/did_plc/README.md
- packages/atproto/CHANGELOG.md
- packages/atproto/README.md
- packages/bluesky_text/CHANGELOG.md
- packages/bluesky_text/README.md
- packages/bluesky/CHANGELOG.md
- packages/bluesky/README.md
- packages/bluesky_cli/CHANGELOG.md
- packages/bluesky_cli/README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- SECURITY.md
- STYLEGUIDE.md

fix
  website/package-lock.json
Labels: none

sbom
  .github/workflows/dependency_check.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  .github/workflows/update_lexicons.yml
  .github/workflows/update_sbom.yml
  .github/workflows/validate_dependencies.yml
  SBOM.md
  bin/sbom_visualizer.dart
Labels: none

fix
  README.md
Labels: none

[Scheduled] SBOM
  SBOM.md
Labels: none

simplify
  .all-contributorsrc
  .github/scripts/coverage.sh
  .github/workflows/test.yml
  .github/workflows/validate_dependencies.yml
  README.md
Labels: none

fix
  bin/sbom_visualizer.dart
Labels: none

[Scheduled] SBOM
  SBOM.md
Labels: none

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/actor/defs.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/actor/defs.md
Labels: lexicon

hotness
  analysis_options 2.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/services/entities/thread_view_preference.dart
  packages/bluesky/lib/src/services/entities/thread_view_preference.g.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/screenshots/logo.png
  packages/lex_annotation/example/example.dart
Labels: lex_annotation, bluesky, documentation

revert
  analysis_options 2.yaml
  analysis_options.yaml
  packages/lex_annotation/example/example.dart
Labels: lex_annotation

expose `JwtExtension`
  packages/atproto/CHANGELOG.md
  packages/atproto/README.md
  packages/atproto/lib/core.dart
  packages/atproto/pubspec.yaml
  packages/atproto/screenshots/logo.png
  packages/bluesky/CHANGELOG.md
  packages/bluesky/README.md
  packages/bluesky/pubspec.yaml
Labels: atproto, bluesky, documentation

rm
  .github/pull_request_template.md
Labels: none

[Scheduled] Pull Latest Lexicons
  lexicons/tools/ozone/moderation/queryEvents.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/tools/ozone/moderation/queryEvents.md
Labels: lexicon

[Scheduled] SBOM
  SBOM.md
Labels: none

expose
  packages/bluesky/lib/bluesky.dart
Labels: bluesky

wip
  packages/bluesky/CHANGELOG.md
Labels: bluesky, documentation

flutter analyze
  packages/bluesky/lib/src/moderation/types/subjects/post.dart
Labels: bluesky

wip
  packages/bluesky/lib/app_bsky_graph_get_starter_pack.dart
  packages/bluesky/lib/src/services/graph_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/getStarterPack/output.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/getStarterPack/output.freezed.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/getStarterPack/output.g.dart
Labels: bluesky

revert
  packages/bluesky/lib/src/services/constants/notification_reason.dart
Labels: bluesky

g
  packages/bluesky/lib/src/services/entities/notification.g.dart
Labels: bluesky

refactor starter pack
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/services/graph_service.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/getStarterPack/output.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/getStarterPack/output.freezed.dart
  packages/bluesky/lib/src/services/types/app/bsky/graph/getStarterPack/output.g.dart
  packages/bluesky/pubspec.yaml
Labels: bluesky, documentation

[Scheduled] Pull Latest Lexicons
  lexicons/tools/ozone/moderation/defs.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/tools/ozone/moderation/defs.md
Labels: lexicon

#1839
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/pubspec.yaml
  packages/xrpc/CHANGELOG.md
  packages/xrpc/pubspec.yaml
Labels: xrpc, atproto_core, atproto, bluesky_text, bluesky, bluesky_cli, documentation

rm
  packages/atproto_core/pubspec.yaml
  packages/atproto_core/screenshots/logo.png
  packages/xrpc/pubspec.yaml
  packages/xrpc/screenshots/logo.png
Labels: xrpc, atproto_core

fix
  bin/generate_supported_api_matrix.dart
  website/docs/contribution.md
  website/docs/getting_started/install_package.md
  website/docs/license.md
  website/docs/supported_api.md
  website/docusaurus.config.js
Labels: none

[Scheduled] Pull Latest Lexicons
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/supported_api.md
Labels: lexicon

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/notification/listNotifications.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/notification/listNotifications.md
Labels: lexicon

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/notification/listNotifications.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/notification/listNotifications.md
Labels: lexicon

[Scheduled] Pull Latest Lexicons
  lexicons/app/bsky/unspecced/defs.json
  lexicons/app/bsky/unspecced/getTrendingTopics.json
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/nsids.g.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/app/bsky/unspecced/defs.md
  website/docs/lexicons/app/bsky/unspecced/getTrendingTopics.md
  website/docs/supported_api.md
Labels: lexicon, bluesky

fix #1850
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/services/entities/notifications.dart
  packages/bluesky/lib/src/services/notification_service.dart
  packages/bluesky/lib/src/services/utils/notification_reason_filter.dart
  packages/bluesky/lib/src/services/utils/notifications_grouper.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/services/utils/notification_reason_filter_test.dart
  packages/bluesky/test/src/services/utils/notifications_grouper_test.dart
Labels: bluesky, test, documentation

rm
  packages/bluesky/test/src/services/utils/notifications_grouper_test.dart
Labels: bluesky, test

[Scheduled] Pull Latest Lexicons
  lexicons/tools/ozone/moderation/queryStatuses.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/tools/ozone/moderation/queryStatuses.md
Labels: lexicon

fix
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/services/types/chat/bsky/convo_service.dart
  packages/bluesky/pubspec.yaml
Labels: bluesky, documentation

fix
  README.md
Labels: none

fix
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/services/constants/grouped_notification_reason.dart
  packages/bluesky/lib/src/services/constants/notification_reason.dart
  packages/bluesky/lib/src/services/entities/grouped_notification.g.dart
  packages/bluesky/lib/src/services/entities/notification.g.dart
  packages/bluesky/lib/src/services/extensions/grouped_notification.dart
  packages/bluesky/lib/src/services/utils/notifications_grouper.dart
  packages/bluesky/test/src/services/utils/notifications_grouper_test.dart
Labels: bluesky, test, documentation

fix
  README.md
  packages/at_identifier/README.md
  packages/at_uri/README.md
  packages/atproto/README.md
  packages/atproto_core/README.md
  packages/atproto_oauth/README.md
  packages/atproto_test/README.md
  packages/bluesky/README.md
  packages/bluesky_cli/README.md
  packages/bluesky_text/README.md
  packages/did_plc/CODE_OF_CONDUCT
  packages/did_plc/CONTRIBUTING
  packages/did_plc/README.md
  packages/did_plc/SECURITY
  packages/did_plc/STYLEGUIDE
  packages/lexicon/README.md
  packages/multiformats/README.md
  packages/nsid/README.md
  packages/xrpc/README.md
Labels: at_identifier, nsid, lexicon, at_uri, xrpc, multiformats, atproto_test, atproto_oauth, atproto_core, did_plc, atproto, bluesky_text, bluesky, bluesky_cli, documentation

[Scheduled] Pull Latest Lexicons
  lexicons/com/atproto/server/createSession.json
  packages/atproto/lib/src/ids.g.dart
  packages/atproto/lib/src/nsids.g.dart
  packages/bluesky/lib/src/ids.g.dart
  packages/bluesky/lib/src/nsids.g.dart
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/com/atproto/server/createSession.md
Labels: lexicon, atproto, bluesky

fix
  .github/workflows/update_sbom.yml
  SBOM.md
  bin/generate_lex_annotations.dart
  bin/generate_lexicon_docs.dart
  bin/generate_lexicon_ids.dart
  bin/generate_lexicon_matrix.dart
  bin/generate_supported_api_matrix.dart
  bin/pull_latest_lexicons.dart
  bin/sbom_visualizer.dart
  bin/utils.dart
  bin/validate_dependencies.dart
Labels: none

[Scheduled] Pull Latest Lexicons
  lexicons/com/atproto/server/createSession.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/com/atproto/server/createSession.md
Labels: lexicon

[Scheduled] Pull Latest Lexicons
  lexicons/tools/ozone/moderation/queryStatuses.json
  packages/lexicon/lib/src/lexicons.g.dart
  website/docs/lexicons/tools/ozone/moderation/queryStatuses.md
Labels: lexicon
