Repository myConsciousness/atproto.dart, pull requests merged in 2023-09, with the labels that each got.

#735 🐛 fix: fixed range error (#734)
  .github/pull_request_template.md
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/test/src/bluesky_text_test.dart
Labels: documentation, test, bluesky_cli, bluesky_text

#736 feat: added getSuggestedFeeds support
  packages/bluesky/lib/src/feeds/feeds_service.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/feeds/feeds_service_test.dart
  website/docs/api_support_matrix.md
Labels: bluesky, feat

#744 🔧 fix: `reasonSubject` is nullable (#743)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/grouped_notification.dart
  packages/bluesky/lib/src/entities/grouped_notification.freezed.dart
  packages/bluesky/lib/src/entities/grouped_notification.g.dart
  packages/bluesky/lib/src/notifications/notifications_grouper.dart
  packages/bluesky/pubspec.yaml
Labels: documentation, bluesky, bsky/lexicon/notifications

#746 ✨feat: improve suggestion grouping of notifications (#745)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/grouped_notification.dart
  packages/bluesky/lib/src/entities/grouped_notification.freezed.dart
  packages/bluesky/lib/src/entities/grouped_notification.g.dart
  packages/bluesky/lib/src/entities/notification.dart
  packages/bluesky/lib/src/entities/notifications.dart
  packages/bluesky/lib/src/notifications/grouped_notification_reason.dart
  packages/bluesky/lib/src/notifications/notification_reason.dart
  packages/bluesky/lib/src/notifications/notifications_grouper.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/notifications/data/find_notifications.json
  packages/bluesky/test/src/notifications/grouped_notification_reason.dart
  packages/bluesky/test/src/notifications/notification_reason_test.dart
  packages/bluesky/test/src/notifications/notifications_grouper_test.dart
  packages/bluesky/test/src/notifications/notifications_service_test.dart
Labels: documentation, test, bluesky, bsky/lexicon/notifications

#748 feat: add uri field on GroupedNotification (#747)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/grouped_notification.dart
  packages/bluesky/lib/src/entities/grouped_notification.freezed.dart
  packages/bluesky/lib/src/entities/grouped_notification.g.dart
  packages/bluesky/lib/src/extension/grouped_notification_extension.dart
  packages/bluesky/lib/src/notifications/notifications_grouper.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/extension/grouped_notification_extension_test.dart
  packages/bluesky/test/src/notifications/notifications_grouper_test.dart
Labels: documentation, test, bluesky, bsky/lexicon/notifications

#749 ✨ feat: added `.findProfileRecord` (#684)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/actors/actors_service.dart
  packages/bluesky/lib/src/bluesky.dart
  packages/bluesky/lib/src/bluesky_base_service.dart
  packages/bluesky/lib/src/bluesky_service.dart
  packages/bluesky/lib/src/feeds/feeds_service.dart
  packages/bluesky/lib/src/graphs/graphs_service.dart
  packages/bluesky/lib/src/notifications/notifications_service.dart
  packages/bluesky/lib/src/unspecced/unspecced_service.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/actors/actors_service_test.dart
  packages/bluesky/test/src/actors/data/find_profile_record.json
  packages/bluesky/test/src/feeds/feeds_service_test.dart
  packages/bluesky/test/src/graphs/graphs_service_test.dart
  packages/bluesky/test/src/notifications/notifications_service_test.dart
  packages/bluesky/test/src/unspecced/unspecced_service_test.dart
  website/docs/api_support_matrix.md
  website/src/data/users.tsx
Labels: documentation, test, bluesky, bsky/lexicon/feeds, bsky/lexicon/notifications, bsky/lexicon/actors, bsky/lexicon/graphs, bsky/lexicon/unspecced

#758 refactor: improved `bluesky_text` algo (#758)
  packages/bluesky_cli/CHANGELOG.md
  packages/bluesky_cli/lib/src/version.g.dart
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/README.md
  packages/bluesky_text/example/example.dart
  packages/bluesky_text/lib/bluesky_text.dart
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/lib/src/entities/custom_entities.dart
  packages/bluesky_text/lib/src/entities/custom_entity.dart
  packages/bluesky_text/lib/src/entities/custom_entity.freezed.dart
  packages/bluesky_text/lib/src/entities/custom_entity.g.dart
  packages/bluesky_text/lib/src/entities/custom_feature.dart
  packages/bluesky_text/lib/src/entities/custom_feature.freezed.dart
  packages/bluesky_text/lib/src/entities/entity.dart
  packages/bluesky_text/lib/src/entities/facetable.dart
  packages/bluesky_text/lib/src/params/entity_criterion.dart
  packages/bluesky_text/lib/src/params/entity_criterion.freezed.dart
  packages/bluesky_text/lib/src/unicode_string.dart
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/test/src/bluesky_text_test.dart
  packages/bluesky_text/test/src/entities/entities_test.dart
  packages/bluesky_text/test/src/entities/entity_test.dart
  website/docs/packages/bluesky_text.md
Labels: documentation, test, bluesky_cli, bluesky_text

#759 feat: supported aspect ratio (#753)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/image.dart
  packages/bluesky/lib/src/entities/image.freezed.dart
  packages/bluesky/lib/src/entities/image.g.dart
  packages/bluesky/lib/src/entities/image_aspect_ratio.dart
  packages/bluesky/lib/src/entities/image_aspect_ratio.freezed.dart
  packages/bluesky/lib/src/entities/image_aspect_ratio.g.dart
  packages/bluesky/lib/src/extension/blob_extension.dart
  packages/bluesky/test/src/feeds/data/find_home_timeline.json
Labels: documentation, bluesky

#763 fix: fixed bug `bluesky_text`
  packages/bluesky_cli/CHANGELOG.md
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/test/src/bluesky_text_test.dart
Labels: documentation, test, bluesky_cli, bluesky_text

#769 ✨ feat: added `.personalDetailsPref` (#768)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/converter/preference_converter.dart
  packages/bluesky/lib/src/entities/personal_details_preference.dart
  packages/bluesky/lib/src/entities/personal_details_preference.freezed.dart
  packages/bluesky/lib/src/entities/personal_details_preference.g.dart
  packages/bluesky/lib/src/entities/preference.dart
  packages/bluesky/lib/src/entities/preference.freezed.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/actors/actors_service_test.dart
  packages/bluesky/test/src/actors/data/find_preferences.json
Labels: documentation, test, bluesky

#770 📖 docs: add shared recource
  README.md
  packages/at_uri/README.md
  packages/atproto/README.md
  packages/bluesky/README.md
  packages/bluesky_cli/README.md
  packages/bluesky_text/README.md
  packages/multiformats/README.md
  packages/nsid/README.md
  packages/xrpc/README.md
  resources/give_a_star.gif
Labels: documentation, atproto, bluesky, xrpc, nsid, at_uri, bluesky_cli, bluesky_text, multiformats

#773 ✨ feat: added `.toStrongRef` (#771)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/adaptor/repo_commit_create.dart
  packages/bluesky/lib/src/entities/adaptor/repo_commit_update.dart
  packages/bluesky/test/src/entities/adaptor/repo_commit_create_test.dart
  packages/bluesky/test/src/entities/adaptor/repo_commit_update_test.dart
Labels: documentation, test, bluesky

#776 🔧 fix: safe conversion for union (#775)
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/src/entities/converter/labels_converter.dart
  packages/atproto/lib/src/entities/converter/report_subject_converter.dart
  packages/atproto/lib/src/entities/converter/subscribed_repo_converter.dart
  packages/atproto/lib/src/moderation/moderation_reason_type.dart
  packages/atproto/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/converter/embed_converter.dart
  packages/bluesky/lib/src/entities/converter/embed_media_converter.dart
  packages/bluesky/lib/src/entities/converter/embed_view_converter.dart
  packages/bluesky/lib/src/entities/converter/embed_view_media_converter.dart
  packages/bluesky/lib/src/entities/converter/embed_view_record_view_converter.dart
  packages/bluesky/lib/src/entities/converter/facet_feature_converter.dart
  packages/bluesky/lib/src/entities/converter/post_thread_view_converter.dart
  packages/bluesky/lib/src/entities/converter/preference_converter.dart
  packages/bluesky/lib/src/entities/converter/reason_converter.dart
  packages/bluesky/lib/src/entities/converter/reply_post_converter.dart
  packages/bluesky/lib/src/entities/converter/skeleton_reason_converter.dart
  packages/bluesky/pubspec.yaml
Labels: documentation, atproto, bluesky, atproto/lexicon/moderation

#781 fix!: `viewer` is nullable (#779)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/actor.dart
  packages/bluesky/lib/src/entities/actor.freezed.dart
  packages/bluesky/lib/src/entities/actor.g.dart
  packages/bluesky/pubspec.yaml
Labels: documentation, bluesky

#783 fix!: `viewer` is not nullable (#782)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/actor.dart
  packages/bluesky/lib/src/entities/actor.freezed.dart
  packages/bluesky/lib/src/entities/actor.g.dart
  packages/bluesky/lib/src/entities/actor_profile.dart
  packages/bluesky/lib/src/entities/actor_profile.freezed.dart
  packages/bluesky/lib/src/entities/actor_profile.g.dart
  packages/bluesky/lib/src/entities/defaults.dart
  packages/bluesky/lib/src/entities/list_view.dart
  packages/bluesky/lib/src/entities/list_view.freezed.dart
  packages/bluesky/lib/src/entities/list_view.g.dart
  packages/bluesky/lib/src/entities/list_view_basic.dart
  packages/bluesky/lib/src/entities/list_view_basic.freezed.dart
  packages/bluesky/lib/src/entities/list_view_basic.g.dart
  packages/bluesky/lib/src/entities/post.dart
  packages/bluesky/lib/src/entities/post.freezed.dart
  packages/bluesky/lib/src/entities/post.g.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/entities/actor_profile_test.dart
  packages/bluesky/test/src/entities/actor_test.dart
  packages/bluesky/test/src/entities/list_view_basic_test.dart
  packages/bluesky/test/src/entities/list_view_test.dart
  resources/logo.png
Labels: documentation, test, bluesky

#784 fix: moved screenshots to archive
  packages/bluesky/pubspec.yaml
  packages/bluesky/screenshots/logo.png
Labels: bluesky

#788 ✨ feat: added session utilities (#787)
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/atproto.dart
  packages/atproto/pubspec.yaml
  packages/atproto/screenshots/logo.png
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/lib/atproto_core.dart
  packages/atproto_core/lib/src/converters/date_time_converter.dart
  packages/atproto_core/lib/src/sessions/auth_scope.dart
  packages/atproto_core/lib/src/sessions/auth_token.dart
  packages/atproto_core/lib/src/sessions/auth_token.freezed.dart
  packages/atproto_core/lib/src/sessions/auth_token.g.dart
  packages/atproto_core/lib/src/sessions/jwt_decoder.dart
  packages/atproto_core/lib/src/sessions/session.dart
  packages/atproto_core/lib/src/sessions/session.freezed.dart
  packages/atproto_core/pubspec.yaml
  packages/atproto_core/screenshots/logo.png
  packages/atproto_core/test/src/sessions/auth_scope_test.dart
  packages/atproto_core/test/src/sessions/session_test.dart
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/pubspec.yaml
Labels: documentation, test, atproto_core, atproto, bluesky

#795 ✨ feat: added `blocked` property (#792)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/list_view.dart
  packages/bluesky/lib/src/entities/list_view_basic.dart
  packages/bluesky/lib/src/entities/list_viewer.dart
  packages/bluesky/lib/src/entities/list_viewer.freezed.dart
  packages/bluesky/lib/src/entities/list_viewer.g.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/entities/list_view_basic_test.dart
  packages/bluesky/test/src/entities/list_view_test.dart
Labels: documentation, test, bluesky

#799 ✨ feat: override `==` and `hashCode` (#797)
  packages/at_uri/CHANGELOG.md
  packages/at_uri/lib/src/at_uri.dart
  packages/at_uri/pubspec.yaml
  packages/at_uri/screenshots/logo.png
  packages/at_uri/test/src/at_uri_test.dart
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
  packages/bluesky_cli/pubspec.yaml
Labels: documentation, test, atproto_core, atproto, bluesky, at_uri, bluesky_cli

#802 ✨ feat: suggested follows (#800)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/suggested_follows.dart
  packages/bluesky/lib/src/entities/suggested_follows.freezed.dart
  packages/bluesky/lib/src/entities/suggested_follows.g.dart
  packages/bluesky/lib/src/graphs/graphs_service.dart
  packages/bluesky/test/src/graphs/data/find_suggested_follows.json
  packages/bluesky/test/src/graphs/graphs_service_test.dart
  packages/bluesky_cli/CHANGELOG.md
  packages/bluesky_cli/lib/src/command/commands.dart
  packages/bluesky_cli/lib/src/command/graph/suggested_follows.dart
  packages/bluesky_cli/lib/src/version.g.dart
  packages/bluesky_cli/pubspec.yaml
  website/docs/api_support_matrix.md
Labels: documentation, test, bluesky, bsky/lexicon/graphs, bluesky_cli

#816 🎉 feat: curated list (#814)
  .vscode/settings.json
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/list_view.dart
  packages/bluesky/lib/src/entities/list_view.freezed.dart
  packages/bluesky/lib/src/entities/list_view.g.dart
  packages/bluesky/lib/src/entities/lists.dart
  packages/bluesky/lib/src/entities/lists.freezed.dart
  packages/bluesky/lib/src/graphs/graphs_service.dart
  packages/bluesky/lib/src/params/list_param.dart
  packages/bluesky/lib/src/params/list_param.freezed.dart
  packages/bluesky/lib/src/params/list_param.g.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/entities/list_view_test.dart
  packages/bluesky/test/src/entities/lists_test.dart
  packages/bluesky/test/src/graphs/graphs_service_test.dart
  website/docs/api_support_matrix.md
Labels: documentation, test, bluesky, bsky/lexicon/graphs

#817 🎉 feat: find list feed (#813)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/feeds/feeds_service.dart
  packages/bluesky/test/src/feeds/data/find_list_feed.json
  packages/bluesky/test/src/feeds/feeds_service_test.dart
  packages/bluesky_cli/CHANGELOG.md
  packages/bluesky_cli/README.md
  packages/bluesky_cli/example/README.md
  packages/bluesky_cli/lib/src/command/commands.dart
  packages/bluesky_cli/lib/src/command/feed/list_feed.dart
  packages/bluesky_cli/lib/src/version.g.dart
  packages/bluesky_cli/pubspec.yaml
  website/docs/api_support_matrix.md
Labels: documentation, test, bluesky, bsky/lexicon/feeds, bluesky_cli

#819 🔧 fix: rate limit fields
  packages/atproto/CHANGELOG.md
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/pubspec.yaml
  packages/bluesky/CHANGELOG.md
  packages/bluesky/pubspec.yaml
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/pubspec.yaml
  packages/xrpc/CHANGELOG.md
  packages/xrpc/lib/src/entities/rate_limit.dart
  packages/xrpc/pubspec.yaml
  packages/xrpc/screenshots/logo.png
  packages/xrpc/test/src/entities/rate_limit_test.dart
  packages/xrpc/test/src/xrpc_test.dart
Labels: documentation, test, atproto_core, atproto, bluesky, xrpc, bluesky_cli, bluesky_text

#822 🚀 feat: group by hour or minute (#821)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/entities/notifications.dart
  packages/bluesky/lib/src/notifications/group_by.dart
  packages/bluesky/lib/src/notifications/notifications_grouper.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/notifications/notifications_grouper_test.dart
Labels: documentation, test, bluesky, bsky/lexicon/notifications

#827 ✨ feat!: notification reason filter (#826)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/notifications.dart
  packages/bluesky/lib/src/notifications/group_by.dart
  packages/bluesky/lib/src/notifications/notification_reason_filter.dart
  packages/bluesky/lib/src/notifications/notifications_grouper.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/notifications/notification_reason_filter_test.dart
  packages/bluesky/test/src/notifications/notifications_grouper_test.dart
Labels: documentation, test, bluesky, bsky/lexicon/notifications

#780 🔧 refactor: improved structure
  .vscode/settings.json
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/lib/src/regex.dart
  packages/bluesky_text/lib/src/unicode_string.dart
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/test/src/bluesky_text_test.dart
Labels: test, bluesky_cli, bluesky_text

#833 ✨ feat: actor preferences (#831)
  .vscode/settings.json
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  packages/bluesky/lib/src/entities/converter/preference_converter.dart
  packages/bluesky/lib/src/entities/feed_view_preference.dart
  packages/bluesky/lib/src/entities/feed_view_preference.freezed.dart
  packages/bluesky/lib/src/entities/feed_view_preference.g.dart
  packages/bluesky/lib/src/entities/preference.dart
  packages/bluesky/lib/src/entities/preference.freezed.dart
  packages/bluesky/lib/src/entities/thread_view_preference.dart
  packages/bluesky/lib/src/entities/thread_view_preference.freezed.dart
  packages/bluesky/lib/src/entities/thread_view_preference.g.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/actors/actors_service_test.dart
  packages/bluesky/test/src/actors/data/find_preferences.json
Labels: documentation, test, bluesky

#832 🚀 feat: link config (#832)
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/example/example.dart
  packages/bluesky_text/lib/bluesky_text.dart
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/lib/src/config/link_config.dart
  packages/bluesky_text/lib/src/replacement.dart
  packages/bluesky_text/test/config/link_config_test.dart
  packages/bluesky_text/test/src/bluesky_text_test.dart
  website/docs/packages/bluesky_text.md
Labels: documentation, test, bluesky_text

#836 🔧 fix: `.format()`
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/test/src/bluesky_text_test.dart
Labels: documentation, test, bluesky_cli, bluesky_text

#842 🔧 fix: deprecate (#835)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/unspecced/unspecced_service.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/unspecced/unspecced_service_test.dart
Labels: documentation, test, bluesky, bsky/lexicon/unspecced

#850 🚑 fix: removed fully deprecated endpoint (#846)
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/src/unspecced/unspecced_service.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky/test/src/unspecced/unspecced_service_test.dart
  website/docs/api_support_matrix.md
Labels: documentation, test, bluesky, bsky/lexicon/unspecced

#861 ✨ feat: added `emailConfirmed` (#856)
  packages/atproto/pubspec.yaml
  packages/atproto_core/CHANGELOG.md
  packages/atproto_core/lib/src/sessions/session.dart
  packages/atproto_core/lib/src/sessions/session.freezed.dart
  packages/atproto_core/lib/src/sessions/session.g.dart
  packages/atproto_core/pubspec.yaml
  packages/atproto_core/test/src/sessions/data/create_session.json
  packages/atproto_core/test/src/sessions/sessions_test.dart
  packages/bluesky/pubspec.yaml
  packages/bluesky_text/pubspec_overrides.yaml
Labels: documentation, test, atproto_core, atproto, bluesky, bluesky_text

#862 👌 feat: added `emailConfirmed` (#857)
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/src/entities/current_session.dart
  packages/atproto/lib/src/entities/current_session.freezed.dart
  packages/atproto/lib/src/entities/current_session.g.dart
  packages/atproto/test/src/servers/data/find_current_session.json
  packages/atproto/test/src/servers/servers_service_test.dart
Labels: documentation, test, atproto

#863 ✨ feat: supported `requestEmailUpdate` (#859)
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/atproto.dart
  packages/atproto/lib/src/entities/email_update.dart
  packages/atproto/lib/src/entities/email_update.freezed.dart
  packages/atproto/lib/src/entities/email_update.g.dart
  packages/atproto/lib/src/servers/servers_service.dart
  packages/atproto/test/src/servers/data/request_email_update.json
  packages/atproto/test/src/servers/servers_service_test.dart
  packages/bluesky/CHANGELOG.md
  packages/bluesky/lib/bluesky.dart
  website/docs/api_support_matrix.md
Labels: documentation, test, atproto, bluesky, atproto/lexicon/servers

#864 ✨ feat: supported `requestEmailConfirmation` (#858)
  packages/atproto/lib/src/servers/servers_service.dart
  packages/atproto/test/src/servers/data/request_email_confirmation.json
  packages/atproto/test/src/servers/servers_service_test.dart
  website/docs/api_support_matrix.md
Labels: test, atproto, atproto/lexicon/servers

#865 ✨ feat: supported `confirmEmail` (#855)
  STYLEGUIDE.md
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/src/servers/servers_service.dart
  packages/atproto/test/src/servers/data/confirm_email.json
  packages/atproto/test/src/servers/servers_service_test.dart
  packages/bluesky/CHANGELOG.md
  website/docs/api_support_matrix.md
  website/docs/packages/atproto.md
  website/docs/packages/bluesky.md
Labels: documentation, test, atproto, bluesky, atproto/lexicon/servers

#866 ✨ feat: supported `updateEmail` (#860)
  packages/atproto/CHANGELOG.md
  packages/atproto/lib/src/servers/servers_service.dart
  packages/atproto/test/src/servers/data/update_email.json
  packages/atproto/test/src/servers/servers_service_test.dart
  packages/bluesky/CHANGELOG.md
  website/docs/api_support_matrix.md
Labels: documentation, test, atproto, bluesky, atproto/lexicon/servers

#870 🎉 refactor: better link detection (#870)
  .vscode/settings.json
  packages/bluesky_cli/pubspec.yaml
  packages/bluesky_text/CHANGELOG.md
  packages/bluesky_text/lib/src/bluesky_text.dart
  packages/bluesky_text/lib/src/regex/cyrillic_letters_and_marks.dart
  packages/bluesky_text/lib/src/regex/directional_markers_group.dart
  packages/bluesky_text/lib/src/regex/extract_url.dart
  packages/bluesky_text/lib/src/regex/invalid_chars_group.dart
  packages/bluesky_text/lib/src/regex/invalid_domain_chars.dart
  packages/bluesky_text/lib/src/regex/latin_accent_chars.dart
  packages/bluesky_text/lib/src/regex/punc.dart
  packages/bluesky_text/lib/src/regex/spaces_group.dart
  packages/bluesky_text/lib/src/regex/valid_ashii_domain.dart
  packages/bluesky_text/lib/src/regex/valid_cctld.dart
  packages/bluesky_text/lib/src/regex/valid_domain.dart
  packages/bluesky_text/lib/src/regex/valid_domain_chars.dart
  packages/bluesky_text/lib/src/regex/valid_domain_name.dart
  packages/bluesky_text/lib/src/regex/valid_general_url_path_chars.dart
  packages/bluesky_text/lib/src/regex/valid_port_number.dart
  packages/bluesky_text/lib/src/regex/valid_subdomain.dart
  packages/bluesky_text/lib/src/regex/valid_url_balanced_parens.dart
  packages/bluesky_text/lib/src/regex/valid_url_path_ending_chars.dart
  packages/bluesky_text/lib/src/regex/valid_url_query_chars.dart
  packages/bluesky_text/lib/src/regex/valid_url_query_ending_chars.dart
  packages/bluesky_text/pubspec.yaml
  packages/bluesky_text/test/src/bluesky_text_test.dart
Labels: documentation, test, bluesky_cli, bluesky_text

#871 📖 docs: added feature things (#871)
  packages/bluesky_text/README.md
  website/docs/packages/bluesky_text.md
Labels: documentation, bluesky_text
